@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* ---------------Tailwind Css--------------- */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* ---------------Themes--------------- */
@theme inline{
  --font-manrope: "Manrope", "sans-serif";
  --color-brand: var(--brand-color);
  --color-gray900: var(--color-gray900);
  --color-gray800: var(--color-gray800);
  --color-gray700: var(--color-gray700);
  --color-gray600: var(--color-gray600);
  --color-gray500: var(--color-gray500);
  --color-gray400: var(--color-gray400);
  --color-gray300: var(--color-gray300);
  --color-gray200: var(--color-gray200);
  --color-gray100: var(--color-gray100);
}